body{
    background-color: #3C2A4B;
    margin: 0;
}

header {
    text-align: center;
    height: 120px;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #3C2A4B;
    z-index: 1000;
}

.logo{
    /* font-weight: bold; */
    font-size: 32px;
    margin-left: 100px;
    /* margin-bottom: 10px; */
}

.logo a{
    color: #DB9199;
}

.nav-menu{
    width: var(--max-width);
    height: inherit;
    margin: auto;
    padding: 3%;
    display: flex;
    justify-content: space-between;
}

.nav ul{
    display: flex;
    gap: 15px;
    list-style: none;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    margin-right: 100px;
}

.nav li {
    margin-top: 10px;
    padding: 20px;
    font-size: 18px;
}

.nav a:hover {
    border-bottom: 2px solid #DB9199;
}

a{
    text-decoration: none;
    color: white; /* Add your desired text color */
}

.hero{
    margin-top: 100px;
    margin-left: 150px;
    margin-right: 150px;
    padding: 3%;
    display: flex;
    justify-content: space-between;
}

.hero-sector{
    color: white;
    text-align: center;
    padding: 20px;
    width: 600px;
    margin-top: 100px;
}

/* .hero-sector h1{
    margin-bottom: 25px;
} */

/* .hero-sector p{
    margin-bottom: 50px;
} */

button:hover, button:active{
    opacity: 0.9;
}

.call-to-action{
    text-align: center;
    font-size: 14px;
    font-style: normal;
    border-radius: 22px;
    background-color: #DB9199;
    width: 162px;
    height: 44px;
    flex-shrink: 0;
    margin-top: 30px;
}

#projects{
    width: auto;
    /* text-align: center; */
    color: #fff;
    padding: 20px;
}

#projects h1{
    text-align: center;
}

.margin{
    text-align: center;
}

#projects h1{
    padding: 10px;
}

.card-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 150px;
    margin-right: 150px;
}

.cards{
    margin: 5%;
}

.cards, img{
    height: 200px;
    width: 200px;
}

.card-link {
    position: relative;
    text-decoration: none;
    color: inherit;
}

.card-link:hover .card-image {
    opacity: 0.7;
}

.card-link:hover h3 {
    text-decoration: underline;
}

.card-image {
    width: 100%;
    border-radius: 8px;
    transition: opacity 0.3s ease;
}

.text-big {
    margin-top: 10px;
    transition: text-decoration 0.3s ease;
}

#about{
    width: auto;
    color: #fff;
    margin-top: 200px;
}

#about h1{
    padding: 15px;
    text-align: center;
}

.about-margin{
    text-align: center;
}

.about-section{
    margin-left: 150px;
    margin-right: 150px;
    padding: 2%;
    display: flex;
    justify-content: space-between;
}

.about-words{
    width: 500px;
    margin-left: 100px;
}

/* .about-words p{
} */

.about-image img{
    width: 280px;
    height: 410px;
    margin-right: 190px;
}

#experience{
    color: #fff;
    margin-top: 80px;
}

#experience h1{
    padding: 10px;
    text-align: center;
}

.experiences{
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;
}

.card-exp{
    margin: 2%;
}

.circle {
    width: 90px;
    height: 90px;
    background-color: #DB9199;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-left: 90px;
}

#skills{
    color: #fff;
    margin-top: 80px;
}

#skills h1{
    padding: 10px;
    text-align: center;
}

.skill-cards{
    display: flex;
    justify-content: space-around;
    margin-left: 150px;
    margin-right: 150px;
    /* flex-direction: column; */
}

.card-skills{
    background-color: rgba(20, 20, 42, 0.4);
    margin: 2%;
    width: 300px;
    height: 200px;
    padding: 20px;
    border-radius: 25px;
}

.circle-skills{
    width: 50px;
    height: 50px;
    background-color: #823446;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

#contact{
    color: #fff;
    margin-top: 80px;
    margin-bottom: 50px;
}

#contact h1{
    text-align: center;
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px; /* Adjust the maximum width as needed */
    margin: auto;
}

label {
    margin-top: 10px;
}

input, textarea {
    color: #fff;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid #DB9199; /* Add a bottom border to input elements */
    background-color: transparent; /* Make the background transparent */
}

button {
    background-color: #DB9199; /* Green background color */
    color: white; /* White text color */
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #823446; /* Darker green on hover */
}

footer{
    text-align: center;
    width: 100%;
    bottom: 0;
    background-color: #14142A;
    z-index: 1000;
}

.footer{
    width: var(--max-width);
    height: inherit;
    margin: auto;
    padding: 3%;
    display: flex;
    justify-content: space-between;
}

footer .logo{
    /* font-weight: bold; */
    font-size: 32px;
    margin-left: 100px;
    color: #DB9199;
}

.footer-nav ul{
    display: flex;
    gap: 15px;
    list-style: none;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    margin-right: 100px;
}

.footer-nav li{
    margin-top: 30px;
    padding: 20px;
    font-size: 18px;   
}

.footer-nav a{
    text-decoration: none;
    color: #DB9199;
}

.social-icon{
    width: 30px;
    height: 30px;
    /* color: #DB9199;
    fill: #DB9199; */
    filter: hue-rotate (90deg);;
    /* transition: filter 0.3s ease; */
}

@media screen and (max-width: 992px) {
    .menu-display {
        justify-content: space-around;
        margin-right: 10px;
        text-align: center;
    }
    .logo {
        font-weight: bold;
        font-size: 20px;
        /* color: #DB9199; */
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 20px;
    }
    .hero{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 0;
        align-content: center;
    }
    .hero-image{
        margin-left: 70px;
    }
    .card-box{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .about-section{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0%;
    }
    .about-words{
        margin-left: 10px;
    }
    
    .about-image img{
        width: 220px;
        height: 310px;
        margin-right: 0%;
    }
    .experiences{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .skill-cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (max-width: 600px) {
    .menu-display {
        flex-flow: column wrap;
        padding: 0;
        margin-right: 30px;
    }
    .menu-display a { 
        text-align: center; 
        padding: 10px;
        border-top: 1px solid rgba(255, 255, 255,0.3); 
        border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
    }
    .menu-display li:last-of-type a {
        border-bottom: none;
    }
    .logo {
        font-weight: bold;
        font-size: 20px;
        /* color: #DB9199; */
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 20px;
    }
    .hero{
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 0;
        align-content: center;
    }
    .hero-image{
        margin-left: 70px;
    }
    .card-box{
        flex-wrap: wrap;
    }
    .about-section{
        flex-wrap: wrap;
    }
    .experiences{
        flex-wrap: wrap;
    }
    .skill-cards{
        flex-wrap: wrap;
    }
}